@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: #f8fafc;
	height: 1000px;
}

header {
	width: 100%;
	padding: 20px;
	position: fixed;
	top: 0;
	background-color: #7E22CE;
	z-index: 99;
}

.logo {
	width: max-content;
	margin: 0 auto;
	padding: 8px;
	color: white;
	display: flex;
	align-items: center;
	border: 2px solid white;
	border-radius: 5px;
}

.logo svg {
	width: 50px;
	height: 50px;
	background-color: white;
	color: #7E22CE;
	margin-right: 10px;
	border-radius: 5px;
}


.logo-text p {
	font-size: 15px;
	color: #ddd;
}

main {
	margin-top: 150px;
}